.drink {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 3px;
    border-radius:8px;
  

}
.table-responsive {
  background-color: #00ffff;
    border-radius: 10px;
    padding: 5px;
    height:100%;
}
h1 {
    text-align: center;
}
.price {
    color: red;
    font-size: 25px;
}