.image {
    border-radius: 8px;
    border: solid 2px black;
    width: 95%;
    margin-left: 43px;
    height: 500px;
  
}
.button {
    border-radius: 10px;
    border: solid 2px #fff;
    color: #fff;
    background-color: #f35243;
}
.value{
    text-align: center;
    margin-top: 25px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 7px;
    text-align: center;
    border: solid 1px rgb(104, 238, 15);
}
.content {
   margin-left: 80px;
}
.button:hover {
    color:#2c3e50;
}

.center {
    height: 600px;
    margin-top: 20px;
}
 
.table-responsive {
    margin-top: 15px;
    background-color: #f35243;
    border-radius: 10px;
    width: 95%;
    margin-left: 40px;
border:solid 2px black;
}


h1 {
    text-align: center;
    padding-top: 10px;
    /* font-weight: 300; */
   
}
.hamburgue {
    background-color: #f35243;
   border-radius:8px;
   padding: 8px;
}

.price {
    color: #fff;
    font-size: 25px;
}
.drink {
    text-decoration: none;
    color: #fff;

}
.links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding:15px
    
}
.center {
    background-image: url(../image/hamburgue-1.jpg);
    background-size: 550px;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    padding:5px;
    border: solid 3px #f14130;
    border-radius: 8px;
    
    
    
}

p {
    padding: 5px;
    font-size: 16px;
    color: #fff;
    margin-left: -200px;
    text-indent: center;
}
#result{
    margin-left: 5px;
}

h5 {
    display:none;
}
h3 {
   margin-left: 15px;
}
.details {
    padding: 5px;
    font-size: 16px;
}
i {
    color: green;
}
.nav-link {
    font-weight: bold;
}
.whatsapp {
    display: flex;
 margin-top: 400px;
justify-content: space-between;
margin-left: 10px;
position:fixed;

}
.whatsapp a {
    display: inline-flex;
    width:25px;
    height:  50x;
    background-color: #f14130;
    margin: 1px 8px 2px ;
    border-radius: 50px;
    justify-content:center;
    align-items: center;
    transition: 0.4s;
    font-size: 18px;
    text-decoration: none;
    
}
.whatsapp a:hover {
    background: #2c3e50;
   
}
  

.whatsapp i {
    color: white;
    padding: 5px;
}

.whats {
    height: 25px;
    border-radius: 50px;
}
#nameuser {
    height:100px;
    width:100px;
    background-color: #fff;
}
#bob {
    width: 85px;
}
.none {
    display:none;
}

/* tabela */
.content {
    margin-top: 15px;
    text-align: center;
    
 
 
}
table{
    padding: 30px;
    width:90%;

   
}
table th {
    background-color: rgb(129, 110, 110);
    border-radius:8px;
    
 }
 table td img {
    width: 23px;
 }
 table td {
    padding: 5px;
 }

@media( max-width: 480px) 
{
   
    .table-responsive {
      margin-left: 0; 
      margin-right: 0;
        width: 100%;
        height: 100%;
        opacity:0,3;
        /* position:absolute; */
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
        padding: 5px;
    }
    .content {
        margin-right: 50px;
     }
     .value {
      margin-right: 20px;
     }
    .title {
     margin-right: -60px;
        color: #fff;
     }
     table th {
        background-color: rgb(129, 110, 110);
     }
     table td img {
        width: 23px;
        
     }

    /* tabela */

 .title {
    margin-left: -80px;
    color: #fff;
 }
 table th {
    background-color: rgb(129, 110, 110);
 }
 table td img {
    width: 23px;
 }
 table {
    width: 100%;
   
    
 }


    .whatsapp {
        display: flex;
     margin-top: 560px;
    justify-content: space-between;
    margin-left: 10px;
    position:fixed;
    
    }
    .center {
        height:100%;
    }
    .container {
        height: 780px;
    }
    .details {
        font-size: 15px;
    }
    .image {
        width:100%;
        height:auto;margin-left: 0;
    }
    .center {
        width:100%;
        margin: 0;
    }

}