.image {
    border-radius: 8px;
    border: solid 2px black;
    width: 95%;
    margin-left: 43px;
    height: 500px;
  
}
.table-responsive {
    /* margin-top: 300px; */
    background-image: url(../image/azuldomar.png);
    /* opacity: 0.7; */
    border-radius: 10px;
    width: 95%;
    margin-left: 40px;
border:solid 2px black;
}

h1 {
    text-align: center;
    padding-top: 10px;
    /* font-weight: 300; */
   
}

.price {
    color: red;
    font-size: 25px;
}


@media( max-width: 480px) 
{
   
    .table-responsive {
      margin-left: 0; 
      margin-right: 0;
        width: 100%;
        opacity:10;
        /* position:absolute; */
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
    }
    .details {
        font-size: 15px;
    }
    .image {
        width:100%;
        height:auto;margin-left: 0;
    }
    
}