.image {
    border-radius: 8px;
    border: solid 2px black;
    width: 95%;
    margin-left: 43px;
    height: 500px;
  
}
.table-responsive {
    /* margin-top: 300px; */
    background-color: #f35243;
    /* opacity: 0.7; */
    border-radius: 10px;
    width: 95%;
    margin-left: 40px;
border:solid 2px black;
}


h1 {
    text-align: center;
    padding-top: 10px;
    /* font-weight: 300; */
   
}
.hamburgue {
    background-color: #f35243;
   border-radius:8px;
   padding: 8px;
}

.price {
    color: red;
    font-size: 25px;
}
.drink {
    text-decoration: none;
    color: black;

}
.links {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding:15px
    
}
.center {
    background-image: url(../image/hamburgue-1.jpg);
    background-size: 550px;
    background-position: center;
    background-position-x: center;
    background-repeat: no-repeat;
    padding:5px;
    border: solid 2px black;
    border-radius: 8px;
}

.logo {
    width:120px;
   height: 130px;
 cursor: pointer;
 border-radius: 8px;

}
.center-logo{
    display: flex;

}
p {
    padding: 5px;
    color: green;
    font-size: 16px;
    display:none;
  

}
i {
    color: green;
}
.nav-link {
    font-weight: bold;
}
.whatsapp {
    display: flex;
    margin-top: 300px;
}
.whatsapp a {
    display: inline-flex;
    width:25px;
    height:  50x;
    background-color: #f14130;
    margin: 1px 1px 2px ;
    border-radius: 50px;
    justify-content:center;
    align-items: center;
    transition: 0.4s;
    font-size: 18px;
    text-decoration: none;
}
.whatsapp a:hover {
    background: #2c3e50;
   
}
  

.whatsapp i {
    color: white;
    padding: 5px;
}

.whats {
    height: 25px;
    border-radius: 50px;
}



@media( max-width: 480px) 
{
   
    .table-responsive {
      margin-left: 0; 
      margin-right: 0;
        width: 100%;
        opacity:0,3;
        /* position:absolute; */
        font-weight: bold;
        font-size: 18px;
        font-family: sans-serif;
        padding: 5px;
    }
    .details {
        font-size: 15px;
    }
    .image {
        width:100%;
        height:auto;margin-left: 0;
    }
    .center {
        width:100%;
        margin: 0;
    }

}